/* || Box Sizing*/
* {
    box-sizing: border-box;
}

/* || Texto */
.white-text{
    color: white;
}

.orange-text{
    color: rgb(255, 102, 0);
    font-weight: bold;
}

.title-sm{
    font-size: 2.5em;
    text-align: center;    
}

.font-nerko{
    font-family: 'Nerko One', cursive;
}

.char-name{
    margin: 0px;
}

/* || Body */
body{
    margin: 0px;  
    padding: 0px;  
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* || Main */
main{
    box-shadow: 0px 0px 7px black;
}

/* || Listas */
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.horizontal-list > li{
    display: inline-block;
}

/* || Hypervinculos */
a{
    text-decoration: none;
}

/* || Easteregg */

.easteregg{
    display:flex;
    justify-content: center;
}

.easteregg img:last-child{
    display: none;
}

.easteregg:hover img:last-child{
    display: block;
}

.easteregg:hover img:first-child{
    display: none;
}


/* || Navbar */
.navbar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.788);
    text-align: center;
    box-shadow: 0px 0px 5px black;  
}

.navbar-pages > li{
    display: inline-block;
}

.navbar-pages > li > a{
    color: rgb(255, 255, 255);
}

.navbar-brand{
    width: 10%;
}

/* || Footer */
footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    border-top: 1px solid black;
    color: rgb(255, 255, 255);
}

/* || Imagenes */

.img-responsive{
    max-width: 100%;
}

.img-round{
    border-radius: 100%;
}

.border-round{
    border-radius: 5px;
}

.img-medium{
    max-width: 50%;
}

.img-synopsis{
    border-radius: 5%;
}

.img-small{
    max-width: 30%;
}

.img-char{
    max-width: 15%;
    box-shadow: 1px 1px 9px black;
}

.img-char-lg{
    max-width: 125px;
    box-shadow: 1px 1px 9px black;
}

.cumster{
    max-height: 50px;
}

.synopsis-logo{
    max-width: 50%;
}

.synopsis-first{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* || .character-container */
.character-container{
    display: flex;
    flex-wrap: wrap;
}

/* || character-box */
.character-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* || Iconos */
.white-icon{
    color: white;
}

/* --- MEDIA QUERIES --- */

/* Large desktop */
@media (min-width: 1200px) {
    body{
        background-image: url(/img/background-blur.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 25px;
    }

    .videos .main-container{
        background-color:rgba(0, 0, 0, 0.37);
    }

    .videos main{
        background-color:rgba(0, 0, 0, 0.37);
    }
    
    main{        
        background-color: #f7e6d3;
        color: rgb(32, 32, 32);
        width: 100%;
        font-size: 0.8em; 
        padding: 1%;
        margin-top: 7vh;
        display: flex;
        flex-direction: column;
        overflow-y:auto; 
    }
    

    .synopsis{       
        background-image: url("/img/coffebackground3.png");
        background-repeat: no-repeat;
    }

    .synopsis .main-container{
        background-color:rgba(0, 0, 0, 0.37);
    }

    .synopsis main{
        background-color:rgba(0, 0, 0, 0.37);
        box-shadow: none;
        margin-top: 3vh;
    }

    main > p {
        margin: 0px;
    }    

    .synopsis-main{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }    

    .synopsis-main > p {
        margin: 3%;
    }

    .synopsis-char{
        display: flex;
    }

    .synopsis-first{
        padding-top: 50px;  
        max-width: 75%;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        color: rgb(255, 255, 255);       
    }

    .synopsis-second{      
        box-shadow: 0px 0px 9px black;  
        max-width: 75%;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        background-color: rgb(255, 246, 236);
        color: rgb(0, 0, 0);        
    }
    
    .synopsis-third{      
        box-shadow: 0px 0px 9px rgb(33, 33, 33);  
        max-width: 75%;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        background-color: rgb(255, 246, 236);
        color: rgb(0, 0, 0);        
    }

    .second-char{
        margin: 20px;
        display: flex;
        align-items: center;
    }

    .synopsis-text{
        max-width: 75%;
        margin-top: 35px;
        text-align: center;
    }

    .char-text-lg{
        margin: 25px;
        font-style: italic;
    }

    .char-name-lg{
        font-size: 1.5em;
    }

    .third-char{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .char-box-lg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }


    .navbar{    
        font-size: 0.7em;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 5vh;
    }

    .navbar > ul > li > a:hover{
        color: coral;
    }

    .navbar-brand{
        display: none;
    }

    .navbar-pages{
        width: 100%;
    }

    .navbar-pages > li {
        margin: 0.7%;
    }

    .navbar-pages > li > p{
        color: rgb(255, 255, 255);
    }

    footer{
        font-size: 0.5em;  
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 30px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }

    footer > p{
        margin: 0px;
    }

    .main-container{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0%;
        padding-top: 1%;
        background-color: rgba(0, 0, 0, 0.61);
        min-height: 100vh;
    }

    .img-synopsis{
        display: none;
    }

    .img-synopsislg{
        max-width: 30%;
    }

    .main-container-iframe{
        padding: 0px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .landing{
        background-color: rgba(0, 0, 0, 0.308);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        padding-bottom: 0px;
        padding-top: 0px;
        min-height: 100vh;
    }

    .social-media{
        text-align: center;
    }

    .social-media > li{
        margin: 2%;
    }

    .orange-icon{
        color: orange;
    }

    .crew-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .character-container{
        display: none;
    }

    .crew-container{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .crew-member{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
        max-width: 20%;
    }

    .crew-member > p {
        margin: 1%;
    }

    .crew-member > .font-nerko{
        font-size: 1.3em;
    }

    .crew-right{
        max-width: 75%;
    }

    .title-sm{
        font-size: 3em;
    }

    .img-small{
        display: none;
    }

    .title-sm{
        margin: 0px;
        margin-top: 3%;
    }

    .indextext:hover span{
        display: none;
    }

    .indextext:hover::before{
        content: "An animated (furry) web series.";
    }

    .synopsis-sm{
        display: none;
    }

    .synopsis-lg{
        display: flex;
        flex-direction: column;
    }

    .social-text{
        display: flex;
    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1200px) {
    body{
        display: grid;
        grid-template-rows: 10vh 1fr 7vh;
        background-image: url(/img/background-blur.png);
        background-position: center;
        background-size: cover;
        font-size: 25px;
    }

    main{
        background-color: #f7e6d3;
        color: rgb(32, 32, 32);
        width: 100%;
        font-size: 0.8em; 
        min-height: 81vh; 
        max-height: 81vh; 
        padding: 5%;
        padding-bottom: 0%;
        overflow-y:auto;      
    }

    main > p {
        margin: 0px;
    }    

    .social-text{
        flex-direction: column;        
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .img-synopsislg{
        display: none;
    }

    .navbar{
        padding: 3%;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-pages{
        width: 90%;
    }

    .navbar-pages > li {
        margin: 2%;
    }

    .navbar-pages > li > p{
        color: rgb(255, 255, 255);
    }

    footer{
        font-size: 0.7em;  
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer > p{
        margin: 0px;
    }

    .main-container{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0%;
        padding-top: 1%;
        background-color: rgba(0, 0, 0, 0.61);
    }

    .main-container-iframe{
        padding: 0px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .landing{
        background-color: rgba(0, 0, 0, 0.308);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .social-media{
        text-align: center;
    }

    .social-media > li{
        margin: 2%;
    }

    .orange-icon{
        color: orange;
    }

    .character-container{
        margin-top: 5%;        
        align-items: center;
        justify-content: center;
    }

    .character-box{
        margin-bottom: 5%;;
    }

    .char-name{
        font-size: 1.5em;
    }

    .crew-container{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .crew-member{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 7%;
    }

    .crew-member > p {
        margin: 2%;
    }

    .crew-member > .font-nerko{
        font-size: 1.3em;
    }

    .crew-right{
        display: none;
    }

    .crew-member .img-medium{
        display: none;
    }

    .synopsis-lg{
        display: none;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body{
        display: grid;
        grid-template-rows: 10vh 1fr 7vh;
        background-image: url(/img/background-blur.png);
        background-position: center;
        background-size: cover;
    }

    main{
        background-color: #f7e6d3;
        color: rgb(32, 32, 32);
        width: 100%;
        font-size: 0.8em; 
        min-height: 81vh; 
        max-height: 81vh; 
        padding: 5%;
        padding-bottom: 0%;
        overflow-y:auto;      
    }

    main > p {
        margin: 0px;
    }    

    .social-text{
        flex-direction: column;        
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .img-synopsislg{
        display: none;
    }

    .navbar{
        padding: 3%;
        font-size: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-pages{
        width: 90%;
    }

    .navbar-pages > li {
        margin: 2%;
    }

    .navbar-pages > li > p{
        color: rgb(255, 255, 255);
    }

    footer{
        font-size: 0.5em;  
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer > p{
        margin: 0px;
    }

    .main-container{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0%;
        padding-top: 1%;
        background-color: rgba(0, 0, 0, 0.61);
    }

    .main-container-iframe{
        padding: 0px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .landing{
        background-color: rgba(0, 0, 0, 0.308);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5%;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .social-media{
        text-align: center;
    }

    .social-media > li{
        margin: 2%;
    }

    .orange-icon{
        color: orange;
    }

    .character-container{
        margin-top: 5%;        
        align-items: center;
        justify-content: center;
    }

    .character-box{
        margin-bottom: 5%;;
    }

    .char-name{
        font-size: 1.5em;
    }

    .crew-container{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .crew-member{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 7%;
    }

    .crew-member > p {
        margin: 2%;
    }

    .crew-member > .font-nerko{
        font-size: 1.3em;
    }

    .crew-right{
        display: none;
    }

    .crew-member .img-medium{
        display: none;
    }

    .synopsis-lg{
        display: none;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body{
        display: grid;
        grid-template-rows: 10vh 1fr 6vh;
        background-image: url(/img/background-blur.png);
        background-position: center;
        background-size: cover;
    }

    main{
        background-color: #f7e6d3;
        color: rgb(32, 32, 32);
        width: 100%;
        font-size: 0.8em; 
        min-height: 83vh; 
        max-height: 83vh; 
        padding: 5%;
        padding-bottom: 0%;
        overflow-y:auto;      
    }

    main > p {
        margin: 0px;
    }    

    .img-synopsislg{
        display: none;
    }

    .navbar{
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 0.7em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-pages{
        width: 95%;
    }

    .navbar-pages > li {
        margin: 2%;
    }

    .navbar-pages > li > p{
        color: rgb(255, 255, 255);
    }

    footer{
        font-size: 0.6em;        
    }

    .main-container{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0%;
        padding-top: 1%;
        background-color: rgba(0, 0, 0, 0.61);
    }

    .main-container-iframe{
        padding: 0px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .landing{
        background-color: rgba(0, 0, 0, 0.308);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    .social-media{
        text-align: center;
    }

    .social-media > li{
        margin: 2%;
    }

    .orange-icon{
        color: orange;
    }

    .character-container{
        margin-top: 5%;        
        align-items: center;
        justify-content: center;
    }

    .character-box{
        margin-bottom: 5%;;
    }

    .char-name{
        font-size: 1.5em;
    }

    .crew-container{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .crew-member{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 7%;
    }

    .crew-member > p {
        margin: 2%;
    }

    .crew-member > .font-nerko{
        font-size: 1.3em;
    }

    .crew-right{
        display: none;
    }

    .crew-member .img-medium{
        display: none;
    }

    .synopsis-lg{
        display: none;
    }
}

