body {
    margin: 0px;
    background: #FDF0D5;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/*Contenedores*/

header{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.241);
    text-align: center;
    background-image: url(/img/coffebackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header a{
    color: rgb(226, 147, 0);    
}

.header-background{    
    margin: 0px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    grid-template-rows: 1fr 20px;
}

#header-text{
    margin: 0px;
}

main{
    padding: 5px;
}

#ancla{
    text-align: center;
}

footer{ 
    background-color:rgb(0, 0, 0);
    padding: 10px;
}

footer p{
    text-align: center;    
    color: blanchedalmond;
    margin: 0px;
}

.navegacion1{
    position: fixed;
    width: 100%;    
    text-align: left;
    background-color: rgba(0, 0, 0, 0.775);
    padding: 15px;
}

.navegacion1 a{    
    text-transform: uppercase;
    color: rgb(255, 166, 0);
}

.navegacion1 ul{
    margin:0px;
}

.navegacion1 li {    
    display: inline-block;
    padding: 5px;
}

.navegacion2{
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.navegacion2 > ul {
    margin: 0%;
    padding: 0px;
}
.navegacion2 > ul > li{
    display: inline-block;
    margin: 10px;
}

.navegacion2 > ul > li > a { 
    color: rgb(255, 255, 255);
}

/*Meet the cast*/

.casttext{
    width: 75%;
}

.castbox > p {
    margin: 0px;
}

.castbox > h3 {
    margin: 0px;
}

.cast-wrapper{
    display:flex;       
    flex-wrap: wrap;
    justify-content: space-evenly;  
}

.castbox{
    margin: 7px;
    display: flex;   
    flex-direction: column;
    align-items: center;
}

/*What is it about*/

.infowrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

.infotext{
    text-align: center;
    font-size: 20px;
    grid-column-start: 2;
    grid-column-end: 5;
}

/*Crew*/

.crewwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.crewimg{
    width: 700px;
}

/*Headers*/

h1,h2,h3{
    font-family: 'Nerko One', cursive;
}

h1{
    font-size: 100px;
}

h2{
    font-size: 45px;
    text-align: center;
}

h3{
    font-size: 25px;
    text-align: center;
}


/*otros*/
p{
    font-size: 17px;
}

.bar{
    background-color: blanchedalmond;
    line-height: 15px;
    width: 1px;
}

/*Imagenes*/

.cast{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.separador{
    clear: both;
}

#logo{
    width: 50%;
}
/*Links*/

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:link{
    color: rgb(65, 65, 65);
}

a:hover{
    color: #c7c7c7;
}

a:active{
    color: rgb(58, 44, 44);
}


/*Media*/

.mediawrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.mediabox{
    
}

.mediatitle{
    font-size: 20px;
    font-weight: bold;
    color: rgb(48, 48, 48);
}