*{
    box-sizing: border-box;
}

.page-wrapper{
    margin: 0px;
    margin-bottom: 30px;
    min-width: 100vh;
    min-height: 100vh;    
    background-color: rgba(0, 0, 0, 0.5);
}

.page-content{    
    max-width: 1170px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;   
    box-shadow: 0px 0px 25px; 
}

body {
    margin: 0px;  
    padding: 0px;  
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url(/img/coffebackground.png);
    background-repeat: no-repeat;
    background-size: 3000px 1744px;
}

main{
    padding: 1em;
    background-color:rgba(253,240,213,1);
}

/*Contenedores*/

header{
    background-color: rgba(0, 0, 0, 0.303);
    text-align: center;
    color: white; 
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    color: rgb(226, 147, 0);    
}

.header-background{    
    margin: 0px;
    padding: 25px;
}

#header-text{
    margin: 0px;
    font-size: 1.5em;
}

#pages{
    text-align: center;
}

#pages > li > a:hover{
    color: orange;
}

/* #pages > li >  {
    color: orange;
} */

footer{ 
    background-color:rgb(0, 0, 0);
    padding: 10px;
    height: 40px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

footer p{
    text-align: center;    
    color: blanchedalmond;
    margin: 0px;
    font-size: small;
}

/*Navbars*/

.navegacion2{
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.navegacion2 > ul {
    margin: 0%;
    padding: 0px;
}
.navegacion2 > ul > li{
    display: inline-block;
    margin: 10px;
}

.navegacion2 > ul > li a:hover{
    color: orange;
}

.navegacion2 > ul > li > a { 
    color: rgb(255, 255, 255);
}

#navicon{
    width: 50px;
}

.navegacion3{
    background-color: rgb(68, 68, 68);
    padding: 10px;
}

.navegacion3 > ul {
    margin: 0%;
    padding: 0px;
}
.navegacion3 > ul > li{
    display: inline-block;
    margin: 10px;
}

.navegacion3 > ul > li > a { 
    color: rgb(255, 255, 255);
}

.ancla{
    text-align: center;
}

#socialmedia {
    margin: 0px;
    margin-top: 15px;
}

#socialmedia > li {
    display: inline-block;
    margin: 7px;
}


/*Meet the cast*/

.crewbottom{
    grid-row: 2/3;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.crewtop{
    grid-row: 1/2;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.castname{
    font-weight: bold;
    font-size: 27px;
    font-family: 'Nerko One', cursive;
}

.casttext{
    width: 75%;
}

.castbox > p {
    margin: 0px;
}

.castbox > h3 {
    margin: 0px;
}

.cast-wrapper{
    display:flex;       
    flex-wrap: wrap;
    justify-content: space-evenly;      
}

.cast-wrapper2{
    display:flex;       
    flex-wrap: wrap;
    justify-content: center;  
}

.castbox{
    margin: 7px;
    display: flex;   
    flex-direction: column;
    align-items: center;
}

#cast{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.charImg2{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
}
/*What is it about*/

.info h2 {
    margin-bottom: 2px;
}

.infowrapper{
    align-items: center;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
}

.infomain{
    text-align: center;
    font-size: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.infomain p{
    margin-bottom: 0px;
}

#cafe{
    width: 25%;
}

/*Crew*/

.crewwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.crewimg{
    width: 700px;
}

/*Headers*/

h1,h2,h3{
    font-family: 'Nerko One', cursive;
}

h1{
    font-size: 100px;
}

h2{
    font-size: 45px;
    text-align: center;
}

h3{
    font-size: 25px;
    text-align: center;
}


/*otros*/
p{
    font-size: 17px;
}

.bar{
    background-color: blanchedalmond;
    line-height: 15px;
    width: 1px;
}

/*Imagenes*/

.separador{
    clear: both;
}

.responsiveimage{
    max-width: 100%;
}
/*Links*/

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:active{
    color: rgb(58, 44, 44);
}


/*Media*/

.mediawrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.mediatitle{
    font-size: 20px;
    font-weight: bold;
    color: rgb(48, 48, 48);
}